<html>
  <head>
    <title>Holidays for {{username}}</title>
    <meta content="">
    <style></style>
  </head>
  <body>
  <h1>Holidays for {{username}}</h1>
  <table id = 'holidays'>
    <tr>
        <th>Date</th>
        <th>Approved</th>
        <th>In future</th>
    </tr>
    {% for h in holidays %}
        <tr>
        <td>{{ h.vac_date | date }}</td>
        <td>{{ h.approved | yesno }}</td>
        <td>{{ h.is_in_future | yesno}}</td>
        </tr>
    {% endfor %}
  </table>
  </body>
</html>